<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中国联通</title>
</head>
<body>
    <h1>中国联通</h1>
    <div>
        <span style="color:blue">时间：</span>
        <span>2023/8/29</span>
    </div>
    <div>中国联合网络通信集团有限公司（简称“中国联通”）于2009年1月6日由原中国网通和原中国联通合并重组而成，公司在国内31个省（自治区、直辖市）和境外多个国家和地区设有分支机构，以及130多个境外业务接入点，拥有覆盖全国、通达世界的现代通信网络和全球客户服务体系。目前，“大联接”用户规模超过8.5亿。
    <a href="http://www.chinaunicom.com.cn/about/about.html">点击跳转</a>
        <img src="https://img.zcool.cn/community/0140c257feeac0a84a0d304f1a91f4.png@1280w_1l_2o_100sh.png" style="height :200px"/>
    </div>

    <div>中国联通在2022年《财富》世界500强中位列第267位。作为支撑党政军系统、各行各业、广大人民群众的基础通信企业，中国联通在国民经济中具有基础性、支柱性、战略性、先导性的基本功能与地位作用，具有技术密集、全程全网、规模经济、服务经济社会与民生的特征与属性。
    </div>

    <h2>河南联通</h2>
    <div>
        <span style="color:blue">时间：</span>
        <span>2023/8/29</span>
    </div>
    <div>联通网络真就这么好！看完我的工作你就懂啦。 你以为我的工作“向云端～”，实际上我的工作“汗连连～”。
        <a href="/get/news">查看更多</a>
        <img src="/static/messi.png" style="width :10%"/>
    </div>
    <h1>运营商列表</h1>
    <ul>
        <li>中国移动</li>
        <li>中国联通</li>
        <li>中国电信</li>
    </ul>

    <h1>运营商列表</h1>
    <ol>
        <li>中国移动</li>
        <li>中国联通</li>
        <li>中国电信</li>
    </ol>

    <h1>数据表</h1>
    <table border="1">
        <thead>
            <tr><th>ID</th><th>姓名</th><th>年龄</th></tr>
        </thead>
        <tbody>
            <tr> <td>10</td><td>梅西</td><td>37</td> </tr>
            <tr> <td>11</td><td>C罗</td><td>39</td> </tr>
            <tr> <td>12</td><td>内马尔</td><td>30</td> </tr>
            <tr> <td>10</td><td>苏亚雷斯</td><td>36</td> </tr>
        </tbody>
    </table>

</body>
</html>