<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中国联通</title>
</head>
<body>
    <h1>华夏胡羊排 花桥店</h1>
    <div>
        <span style="color:blue">时间：</span>
        <span>2023/8/29</span>
    </div>
        <img src="https://img.zcool.cn/community/0140c257feeac0a84a0d304f1a91f4.png@1280w_1l_2o_100sh.png" style="height :200px"/>
    </div>

    <div>华夏胡羊排隶属于河南桐鑫餐饮管理有限公司，其中花桥店坐落于河南省郑州市中牟县建安路与城东路交叉口西南60米，练习电话17638146832，店内
    </div>

    <h2>我要</h2>
    <div>
        <span style="color:grey">时间：</span>
        <span></span>
    </div>
    <div>
        <a href="/get/news">查看更多</a>
        <img src="/static/messi.png" style="width :10%"/>
    </div>
    <h1>运营商列表</h1>
    <ul>
        <li>中国移动</li>
        <li>中国联通</li>
        <li>中国电信</li>
    </ul>

    <h1>运营商列表</h1>
    <ol>
        <li>中国移动</li>
        <li>中国联通</li>
        <li>中国电信</li>
    </ol>

    <h1>数据表</h1>
    <table border="1">
        <thead>
            <tr><th>ID</th><th>姓名</th><th>年龄</th></tr>
        </thead>
        <tbody>
            <tr> <td>10</td><td>梅西</td><td>37</td> </tr>
            <tr> <td>11</td><td>C罗</td><td>39</td> </tr>
            <tr> <td>12</td><td>内马尔</td><td>30</td> </tr>
            <tr> <td>10</td><td>苏亚雷斯</td><td>36</td> </tr>
        </tbody>
    </table>

</body>
</html>